# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=f2e49213f12f0bd60428289162093079
###< symfony/framework-bundle ###
SLACK_MAILER_FALLBACK_WEBHOOK=T05AAAPK2LD/B05B35YEYPJ/amASoTFj48i4RoV7DjtKexaC
SLACK_MAILER_WEBHOOKS='{"oleksandr.andrushchenko1988@gmail.com":"T05AAAPK2LD/B05AS302JAD/aOC0Hx3wbvq4kd4fuQpHQkR6","alex.snowgirl@gmail.com":"T05AAAPK2LD/B05AS32T06M/TstcasqrO2b38cWTurlo8AL4"}'
SLACK_MAILER_WEBHOOK_BASE_URL=https://hooks.slack.com/services

MAILER_DSN=slack+webhook://default
###> symfony/mailer ###
# MAILER_DSN=null://null
###< symfony/mailer ###
